@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    <strong>Contact our support center:</strong>   <a href="mailto:SportsBetting@bets.com">SportsBetting@bets.com</a><br />
</address>