@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sports Betting</h1>
    <p class="lead">Sports Betting gives you information about bets for different sport events.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View available bettings for events starting in the next 24 hours</h2>
        <p>
           If you would like to see the available results, please click the button below.
        </p>
        <p><a class="btn btn-default" href="http://localhost:53390/Sport/Index">See bettings &raquo;</a></p>
    </div>
</div>